* {
  box-sizing: border-box;
}

:root {
  --background-off-white: #ffffff;
  --background-light-grey: #f3f3f3:
}

body {
  margin: 0px;
  padding: 30px;
  overflow: hidden;
  background-color: var(--background-light-grey);
}

.container {
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

canvas {
  cursor: pointer;
  background: url('soccerField3.jpg');
}

.entire-display {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 900px;
  border: solid #F5f5f5;
  margin: 25px;
}

.tools {
  display: flex;
  justify-content: left;
  flex-direction: row;
  background-color: var(--background-off-white);
  width: 100%;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 0;
}

.tools button {
  box-shadow: 5px 5px 5px grey;
  width: 80px;
  height: 40px;
  cursor: pointer;
  color: black;
  background: var(--background-off-white);
  margin: 10px 10px 5px 0;
  border: none;
  border-radius: 5px;
}

.main-display {
  display: flex;
  flex-direction: row;
  width: 100%;
  background-color: var(--background-off-white);
  margin-bottom: 25px;
}

.selection-tool-bar {
  display: flex;
  flex-direction: column;
  background-color: var(--background-off-white);
  margin: 20px 2px 2px 2px;
}

.selection-tool-button {
  width: 50px;
  height: 50px;
  background-size: cover;
  background-color: var(--background-off-white);
  border-radius: 5px;
  border: none;
  margin-top: 15px;
  cursor: pointer;
}

.triangle {
  background-image: url('./triangle.png');

}

.circle {
  background-image: url('./circle.png');
}

.move {
  background-image: url('./move.png');
}

.arrow {
  background-image: url('./arrow.png');
}

.info-display {
  display: flex;
  flex-direction: column;
  padding: 8px;
}

input[type='number'] {
  width: 100%;
}

.hidden {
  display: none;
}